@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
.spinner-overlay {
  @include absolute-overlay;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: rem(48px);
  height: rem(48px);
  border: rem(4px) solid $border-color;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
